absl-py>=2.3.1
Flask>=3.1.1
flask-cors>=6.0.1
gunicorn>=23.0.0
numpy>=1.24.4
pandas>=2.3.0
scikit-learn>=1.7.0
tensorflow-cpu>=2.12.0
google-api-python-client>=2.175.0
protobuf>=3.20.2,<4.21.0
python-dotenv>=1.1.1